.main-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.barsection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.closebtn{
    margin-top:-5px;
    margin-right: 10px;
    font-size: 25px;
}


app-progressbar{
    width: 80%;
}


.closeicon{
    width: 25px;
    height: auto;
}

.action-button{
    margin-bottom: 100px;
    
}

.questionnumeration{
    text-align: center;
    font-size: 25px;
    margin-bottom: 0px;;
}

.answerOption{
    background-color: rgb(218, 183, 241);
    font-size: 25px;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 90%;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    color: rgb(66, 58, 58) !important;
    border: 2px solid rgb(168, 150, 175);


}

.answerOption:hover{
    background-color: rgb(230, 195, 255);
    cursor: pointer;
}

.answerscontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.selected{
    background-color: rgb(219, 139, 35) !important;
    color: antiquewhite !important;
    border: 2px solid rgb(199, 197, 197);
}


.correct{
    background-color: rgb(82, 199, 156)  !important;
    color: antiquewhite !important;
    border: 2px solid rgb(199, 197, 197);
    scale:1.05;
    transition: scale 0.5s;
}

.incorrect{
    background-color: rgb(230, 72, 72)  !important;
    color: antiquewhite !important;
    border: 2px solid rgb(199, 197, 197);
    scale:0.9;
    transition: scale 0.5s;

}
//rgb(82, 199, 156) 