$edge-disttance:12px;

app-action-button{
    position: fixed;
    right: $edge-disttance;
    top: $edge-disttance;
}

img{
    width: 20px;
    height: auto;
}

@media (min-width: 500px) {
    img{
        width: 40px;
    }
}