.remove {
    cursor: pointer;
    margin-left: 5px;
}

.selector-container {
    margin-bottom: 10px;
    padding-right: 10px;;
}

p{
    margin-bottom: 5px;
    text-align: center;
}

.itemselected{
    background-color: rgb(69, 192, 141);
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}

.none{
    font-size: 15px;
    text-align: center;
    font-style: italic;
    
}

input{
    margin:10px;
    width: 100%;
    border-radius: 15px;
    color:cornflowerblue;
    padding-left: 10px;
}

li{
    list-style-type: none;
    background-color: rgb(144, 78, 230);
    padding: 10px;
    border-radius: 15px;

    text-align: center;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    
}

li:hover{
    background-color: rgb(109, 40, 201);
    cursor: pointer;
    
}

// pantallas con width mayot a 550px
@media (min-width: 550px) {
    li{
        font-size: 20px;
    }
    p{
        font-size: 30px;
    }
}


ul{
    max-height: 300px;
    overflow-y: auto;
}