
<div class="container">
    <p>Categories</p>
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="selectCategory('all')"
             btnRadio="all" tabindex="0" role="button">All</label>
      <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="selectCategory('custom')"
             btnRadio="custom" tabindex="0" role="button">Custom...</label>
       
    </div>
</div>
<app-pop-up-section #popUpRef (onClose)="onPopupClose()">
       <app-multi-selector
       (onOptionsChange)="categoryMultiSelectionChanges($event)"
       [options]="possibleCategories"
       ></app-multi-selector>
</app-pop-up-section>