<!-- Container for category selection -->
<div class="container">
    
       <!-- Title for category selection -->
       <p>Categories</p>
       
       <!-- Button group for category options -->
       <div class="btn-group">
         
           <!-- Button for "All" category selection -->
           <label 
               class="btn btn-primary" 
               [(ngModel)]="radioModel" 
               (click)="selectCategory(RadioModel.All)"
               [btnRadio]="RadioModel.All" 
               tabindex="0" 
               role="button">
               All
           </label>
           
           <!-- Button for custom category selection -->
           <label 
               class="btn btn-primary" 
               [(ngModel)]="radioModel" 
               (click)="selectCategory(RadioModel.Custom)"
               [btnRadio]="RadioModel.Custom" 
               tabindex="0" 
               role="button">
               Custom...
           </label>
       </div>
   </div>
   
   <!-- Pop-up section that will contain the multi-selector for categories -->
   <app-pop-up-section #popUpRef (onClose)="onPopupClose()">
       
       <!-- Multi selector component to select multiple categories -->
       <app-multi-selector
           (onOptionsChange)="categoryMultiSelectionChanges($event)"
           [options]="possibleCategories">
       </app-multi-selector>
   </app-pop-up-section>
   