$horizontal-padding: 55px;
$vertical-padding: 10px;
$shadow-size: 5px;
$bodrder-radius: 15px;
$border-size: 2px;

// action-button.component.scss
button {
  color: var(--font-color);
  padding: $vertical-padding;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;

  background-color: var(--bg-color);
  border: $border-size solid var(--border-color);

  border-radius: $bodrder-radius;
  box-shadow: 1px $shadow-size 0px 0px var(--shadow-color);

  font-size: 40px;
}

button:hover {
  cursor: pointer;
}


.clicked{
  box-shadow: none!important;
  transform: translateY(5px);
  
}