<div class="container">
     <p>Quesiton amount</p>
     <div class="btn-group">
       <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="setQuestionAmount(5)"
              btnRadio="5" tabindex="0" role="button">5</label>
       <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="setQuestionAmount(10)"
              btnRadio="10" tabindex="0" role="button">10</label>
         <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="setQuestionAmount(15)"
              btnRadio="15" tabindex="0" role="button">15</label>
         <label class="btn btn-primary" [(ngModel)]="radioModel" (click)="setQuestionAmount(20)"
              btnRadio="20" tabindex="0" role="button">20</label>
     </div>
</div>