<app-welcome-screen 
    class="screen"
    (onStartGameEvent)="onStartGame($event)"
    *ngIf="currentScreen === 'welcome'"    
></app-welcome-screen>
<app-question-screen 
    #questionScreen
    class="screen"
    (onClose)="onGameClose()"
    (onMatchFinished)="onGameMatchFinished()"
    *ngIf="currentScreen === 'question'" 
></app-question-screen>
<app-endgame-screen
    #endgameScreen
    class="screen"
    (onGoBackEvent)="onGameResumeGoBackClicked()"
    *ngIf="currentScreen === 'endgame'" 
></app-endgame-screen>
<app-audio-toggle
></app-audio-toggle>

<router-outlet
></router-outlet>
