.container{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    margin-top: -100px;
    z-index: 100;
    background-color: rgba(71, 71, 71, 0.527);
}

.content{
    border: rgb(144, 78, 230) solid 2px;
    box-shadow: 2px 5px 0px 0px rgb(144, 78, 230);
    background-color: rgb(95, 7, 211);
    width: 80%;
    min-height: 100px;
    border-radius: 20px;
    padding: 20px;
}
.close{
    width: 85%;
    display: flex;
    margin-bottom: 10px;
    z-index: 1000;

}

.close img{
    width:14px;
    height: auto;


}